/*** Inlude Fonts ***/

/** Montserrat **/
@font-face {
    font-family: 'MontserratRegular';
    src: url('../fonts/Montserrat/Montserrat-Regular.ttf') format('truetype');
    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MontserratBold';
    src: url('../fonts/Montserrat/Montserrat-Bold.ttf') format('truetype');
    
    font-weight: normal;
    font-style: normal;
}
/** Open Sans **/
@font-face {
    font-family: 'OpenSansRegular';
    src: url('../fonts/Open_Sans/OpenSans-Regular.ttf') format('truetype');
    
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'OpenSansBold';
    src: url('../fonts/Open_Sans/OpenSans-Bold.ttf') format('truetype');
    
    font-weight: normal;
    font-style: normal;
}
/** Font Awesome **/
@font-face{
    font-family: 'FontAwesome';

    src: url('../fonts/FontAwesome/fontawesome-webfont.eot');
    src: url('../fonts/FontAwesome/fontawesome-webfont.eot?iefix') format('eot'),
    url('../fonts/FontAwesome/fontawesome-webfont.woff') format('woff'),
    url('../fonts/FontAwesome/fontawesome-webfont.ttf') format('truetype'),
    url('../fonts/FontAwesome/fontawesome-webfont.svg#webfont') format('svg');

    font-weight: normal;
    font-style: normal;
}
