/*** All styles ***/

/** Button **/
.button {
    text-transform: uppercase;
    font-size: 16px;
    font-weight: bold;
    
    border: 2px solid #ff6e40;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.button:hover {
    cursor: pointer;
    background-color: #ff6e40;
}


/*** Header styles ***/

header {
    padding: 0;
}

/** Navigation **/

.navigation {
    background-color: #fff;
}
.navigation > div {
    height: 72px;
    
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.fixed {
    width: 100%;
    
    position: fixed;
    top: 0;
    left: 0;
    
    z-index: 9999;
}

/* logo*/
.logo {
    width: 180px;
    height: 40px;
    
    display: flex;
    justify-content: space-between;
    
    color: #212121;
}
.logo span {
    height: 40px;
    
    display: flex;
    align-items: center;
    justify-content: center;
    
    font-family: "MontserratRegular";
    font-size: 24px;
    font-weight: bold;
    letter-spacing: 1px;
}
.logo .text {
    width: 140px;
}
.logo .number {
    width: 40px;
    
    border: 2px solid #212121;
}

/* menu */
.menu {
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
.menu .item {
    height: 40px;
    
    margin: 10px;
    
    display: flex;
    align-items: center;
    
    font-family: 'MontserratRegular';
    font-size: 16px;
    font-weight: bold;
    color: #616161;
    text-transform: uppercase;
}

/** Slider **/
.slider {
    height: 500px;
        
    position: relative;
    
    display: flex;
    align-items: center;
    
    overflow: hidden;
}
.slider .button.nav {
    width: 40px;
    height: 40px;
    
    position: absolute;
    
    color: #fff;
}
.slider .left {
    left: 30px;
}
.slider .right {
    right: 30px;
}
.slider .slide {
    width: 100%;
    height: 100%;
    
    margin: 0;
    
    display: flex;
    align-items: center;
    
    position: relative;
}
.slider .slide img {
    position: absolute;
}
.slider .slide .text {    
    display: flex;
    flex-direction: column;
    align-items: center;
    
    color: #fff;
}
.slider .slide .text .title {}
.slider .slide .text .description {
    margin: 35px 0;
}
.slider .slide .text .button {
    width: 190px;
    height: 50px;
}



/*** Content styles ***/

/* Headers */
.content h2 {
    margin: 6px 0;
}
.content h4 {
    color: #bdbdbd;
    margin: 6px 0;
}

/* Section */
section {
    padding: 100px 0;
}
section > div {
    display: flex;
    flex-direction: column;
    align-items: center;
}


/** About **/
.about {}

/* Text */
.about .text {
    text-align: center;
    color: #212121;
    font-family: "OpenSansRegular";
    font-size: 14px;
}
.about .text p {
    margin: 30px 0;
}

/* Button */
.about .button {
    width: 190px;
    height: 50px;
    
    border-color: #212121;
}
.about .button:hover {
    color: #fff;
    background-color: #212121;
}


/** Services **/
.services {
    background-color: #f5f5f5;
}

/* Items */
.services .items {

}
.services .item {
    height: 80px;
    
    padding: 0 5px;
    margin-top: 40px;
    
    display: flex;
    
    overflow: hidden;
}
.services .item .image {
    min-width: 80px;
    height: 80px;
    
    margin-right: 20px;
    background-image: url(../images/icon-frame.png);
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.services .item .image i {
    color: #ff6340;
}
.services .item .info {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.services .item .info h4 {
    margin-top: 0;
    color: #212121;
}
.services .item .info .description {
    font-family: "OpenSansRegular";
    color: #616161;
    font-size: 14px;
    
    padding-right: 10px;
}


/** Call To Action **/
.call2action {
    padding: 40px 0;
    
    background-color: #424242;
}
.call2action > .container {
    flex-direction: row;
    justify-content: space-between;
    
    padding: 0;
}

/* Info */
.call2action .info {
    margin: 0;
}
.call2action .info h3 {
    color: #fff;
    padding: 14px 0;
    
    text-transform: uppercase;
}
.call2action .info h5 {
    color: #bdbdbd;
}

/* Button */
.call2action .button {
    width: 280px;
    height: 50px;
    
    color: #fff;
}


/** Gallery **/
.galley {}

/* Items */
.gallery .items {
    margin-top: 30px; 
    padding: 0;
}
.gallery .item {
    width: 380px;
    height: 380px;
    
    margin: 10px;
    padding: 0;
    
    background-position: center center;
    background-size: cover;
    
    background-color: #bdbdbd;
    
    position: relative;
}

/* :hover */
.gallery .item:hover .hover {
    cursor: pointer;
    display: block;
}
.gallery .item .hover {
    width: 100%;
    height: 100%;
    
    position: absolute;
    top: 0;
    left: 0;
    
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    background-color: rgba(189, 189, 189, 0.7);
    
    display: none;
}
.gallery .item .hover .top {
    height: 280px;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.gallery .item .hover .top .button {
    width: 60px;
    height: 60px;

    border-radius: 50%;
    
    background-color: #ff6e40;
}
.gallery .item .hover .top .button i {
    color: #fff;
    font-size: 24px;
}
.gallery .item .hover .title {
    height: 100px;
    background-color: #f4f4f4;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.gallery .item .hover .title h4 {
    color: #ff6e40;
}
.gallery .item .hover .title h5 {
    color: #757575;
}


/** Contact **/
.contact {
    background-color: #f5f5f5;
    padding: 40px 0;
}
.contact > div {
    display: block;
    padding: 0;
}
.contact h2 {
    margin: 0;
    text-align: center;
}
.contact h4 {
    margin: 0;
    text-align: center;
}

/* Item */
.contact .text {
    padding: 0;
}
.contact .item {
    height: 60px;
    
    padding: 0;
    
    display: flex;
    align-items: center;
}
.contact .item .icon {
    min-width: 60px;
    height: 60px;
    
    margin-right: 10px;
    
    background-color: #ff6340;
    border-radius: 50%;
    
    display: flex;
    align-items: center;
    justify-content: center;
}
.contact .item .icon i {
    color: #fff;
}
.contact .item .text {
    font-family: "OpenSansRegular";
    color: #616161;
    font-size: 14px;
    padding-right: 10px;
}


/*** Footer styles ***/
footer {
    font-family: 'OpenSansRegular';
    font-size: 12px;
    color: #616161;
}

/** Map **/
footer .map {
    height: 400px;
    
    background-color: #2b2b2b;
}

/** Text **/
footer .text {
    padding: 24px 0;
    
    background-color: #f5f5f5;
}
footer .item {
    height: 16px;
        
    display: flex;
    align-items: center;
}
footer .copyright {
    justify-content: flex-start;
}
footer .socials {
    justify-content: center;
}
footer .socials .item {
    width: 24px;
    height: 16px;
    
    margin: 0 7px;
}
footer .socials .item i {
    color: #bdbdbd;
}
footer .contributors {
    justify-content: flex-end;
}
footer .contributors .contributor {
    padding: 0 5px;
}
footer .contributors .contributor a {
    color: #757575;
}
footer .contributors .contributor:first-of-type {
    border-right: 1px solid #ff6e40;
}


/*** Go to top ***/
.go2top {
    width: 40px;
    height: 40px;
    
    position: fixed;
    right: 20px;
    bottom: 84px;

    color: #ff6e40;
}
.go2top:hover {
    color: #fff;
}









