@charset "utf-8";

/** Blocks **/
* {
    margin: 0;
    padding: 0;
}
body {
    font-family: "OpenSansRegular";
}

/** Headers **/
h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-family: "MontserratRegular";
    font-weight: bold;
}
h1 {
    font-size: 35px;
    text-transform: uppercase;
}
h2 {
    font-size: 30px    ;
    text-transform: uppercase;
}
h3 { font-size: 20px; }
h4 {
    font-size: 16px;
    text-transform: uppercase;
}
h5 { font-size: 14px; }
h6 { font-size: 12px; }

/** Links **/
a, a:hover, a:link, a:visited{
    text-decoration: none;
}